<navbar />
<div class="col-md-9 shadow-sm wrapper">
  <form ng-submit="vm.save()" id="publishForm" ng-class="{'activate': vm.showForm}" class="form thumbnail" name="formPublish">
    <h3 class="page-title">Publicar no Feed</h3>
    <div class="row form-group">
      <div class="col-xs-12">
        <label for="publish.content">
          Status
        </label>
        <textarea 
          ng-model="vm.publish.content"
          id="publish.content"
          name="content"
          class="form-control"
          required
          ></textarea>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">
        <button type="button" ng-click="vm.cancel()" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-xs-6">
        <button type="submit" class="btn btn-success pull-right">Salvar</button>
      </div>
    </div>
  </form>
  <h2>Feed de Notícias <a class="btn btn-success pull-right" ng-click="vm.showHideForm()">Publicar no Feed</a></h2>
  <div class="action-bar row">
    <ul id="list-news">
      <li dir-paginate="publish in vm.feed | itemsPerPage: vm.itemsPerPage" class="thumbnail">
        <div class="profile-image">
          <img ng-src="{{publish.user.photo}}" alt="">
        </div>
        <blockquote class="profile-info">
          <h4>{{publish.user.name}}</h4>
          <footer>{{publish.date | date: 'dd/MM/yyyy - hh:mm'}}</footer>
        </blockquote>
        <div class="description">
          <p>{{publish.content}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-3">
  <list-friends />
</div>
